  .navbar-inverse .navbar-nav > li > a:hover
  {
    color: #fb7d02;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav>li>a:focus{
    color: #fb7d02;
    background-color: transparent;
  }
  .dropdown-menu>li>a {
    color: #9d9d9d;
  }
  .dropdown-menu>li>a:hover {
    background-color: #FF5809;
  }
  .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover ,.navbar-inverse .navbar-nav>.open>a:visited{
    color: #FF5809;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:visited {
    color: #fb7d02;
    background-color: #000000;
  }